/* font-family: 'Ubuntu Mono', monospace; */
/* font-family: 'Ubuntu', sans-serif; */


/* spacing */
body {
    width: 100%;
    margin: 0;
    padding: 0;
}

.right-spacer {
    margin-right: 100px;
}

.left-spacer {
    margin-left: 130px;
}

@media only screen and (max-width: 576px) {
    .right-spacer {
        margin-right: 0px;
    }
    .left-spacer {
        margin-left: 0px;
    }
}
.portfolio {
    width: 100%;
}



/* Headings and paragraphs */
h1 {
    display: inline-flex;
    z-index: 10;
    margin-left: -60px;
    margin-top: 9rem;
    font-family: 'Ubuntu', sans-serif;
    font-size: 40px;
    height: 120px;
    padding: 10px;
}
@media only screen and (max-width: 576px) {
    h1 {
        display: none;
    }
}

@media only screen and (min-width: 800px) {
    h2 {
        display: none;
    }
}
@media only screen and (max-width: 576px) {
    h2 {
        font-family: 'Ubuntu', sans-serif;
        margin-top: -60px !important;
        z-index: 10;
        background-color: #9DB59F;
    }
}

h4 {
    font-family: 'Ubuntu', sans-serif;
    display: inline-block;
    padding: 5px;
    margin-right: 15px;
}

h5 {
    font-family: 'Ubuntu', sans-serif;
}

h6 {
    font-family: 'Ubuntu', sans-serif;
}

p {
    font-family: 'Ubuntu Mono', monospace;
}

/* Background Colors */

.portfolio-bg-green {
    background-color: #66826B;
}

.portfolio-bg-lightgreen {
    background-color: #9DB59F;
}

.portfolio-bg-mustard {
    background-color: #E2AC44;
}

.portfolio-bg-red {
    background-color: #C25B3C;

}

/* Text Colors */

.portfolio-text-mustard {
    color: #E2AC44;
}

.portfolio-text-red {
    color: #C25B3C;
}

.portfolio-text-green {
    color: #66826B;
}

a:hover {
    color: #66826B !important;
}


/* header */

.navbar-brand {
    /* margin-top: 2rem; */
    margin-left: 4.5rem;
}
@media only screen and (max-width: 576px) {
    .navbar-brand {
       margin-left: 0;
    }
}

.navbar-nav{
    margin-top: 2rem;
}

hr {
    background-color: white;
    width: 50%;
    margin-top: 3rem;
    margin-right: 1rem;
}

.footer-hr {
    color:white; 
    border-style: solid ;
    width: 50%;
    margin-left: 7rem;
    margin-bottom: 2rem;
}
@media only screen and (max-width: 576px) {
    hr {
        display: none;
    }
    .footer-hr {
        display: none;
    }
}

.nav-link {
    font-family: 'Ubuntu Mono', monospace;
    color: white !important;
}

.item1 {
    margin-left: 100px;
}

.jen {
    margin-left: 6rem;
    margin-top: 2rem;
}
@media only screen and (max-width: 576px) {
    .jen {
        display: none;
    }
}

@media only screen and (min-width: 800px) {
    .media-jen {
        display: none;
    }
}

@media only screen and (max-width: 576px) {
    .banner {
        padding-bottom: 10px !important;
    }
}

@media only screen and (max-width: 576px) {
    .media-jen {
        width: 100%;
        visibility: visible;
    }
}

.tech-img-container {
    padding: 30px 0;
}
@media only screen and (max-width: 576px) {
    .tech-img-container {
      width: 100%;
      padding: 20px 0;
   }
}

@media only screen and (max-width: 575px) {
    .tech-img {
        width: 40px;
    }
}

/* mobile screen nav */

@media only screen and (max-width: 575px) {
    .item1 {
        margin-left: 0;
    }
}

/* Projects */

.btn {
    font-family: 'Ubuntu Mono', monospace;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

@media only screen and (max-width: 575px) {
    .modal-tech-stack {
        padding: 0;
        
    }
}

.modal-header {
    height: 20px;
    border-radius: 0;
}

.modal {
    width: 100%;
}

.project-btn:hover {
    color: #E2AC44;
}

.view {
    position: relative;  
}
.view:before {
  content:"";
  position:absolute;
  width:100%;
  height:100%;
  top:0;left:0;right:0;
  background-color:rgba(0,0,0,0);
}
.view:hover::before {
  background-color:#9DB59F;
  opacity: 90%;
}
.view img {
  display:block;
}
.view button {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  opacity:0;
} 
.view:hover button {   
  opacity: 1;
  color: #66826B;
}

@media only screen and (max-width: 575px) {
    .contact-info {
        flex-direction: column;
        padding: 10px !important;
    }
}

@media only screen and (max-width: 575px) {
    .contact-h4 {
        padding-left: 0;
    }
}

@media only screen and (max-width: 575px) {
    .footer-nav {
        flex-direction: row;
    }
}


@media only screen and (max-width: 575px) {
    #contact {
        margin-top: 0 !important;
    }
}



