h2 {
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    text-align: center;
    font-weight: bold;
    opacity: 0.5;
}

h3 {
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    color: seashell;
    background-color: black;
    text-align: center;
    font-weight: bold;
    opacity: 0.5;
}

h4 {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    color: seashell;
    background-color: black;
    text-align: center; 
    opacity: 0.5;
}

h5 {
    font-family: Helvetica, sans-serif;
    font-size: 12px;
    color: seashell;
    background-color: black;
    text-align: center; 
    font-weight: bold ;
    opacity: 0.5;
}

body {
    background-color: black;

}

a {
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    color: seashell;
    background-color: black;
    margin: 20px;
    font-weight: bold;
    text-decoration: underline;
    opacity: 0.5;
}

.navbar {
  display: inline-flex;
  align-items: center;
}

header {
    display: inline-flex;
    justify-content: space-between;
    border-bottom: 1px solid seashell;
    width: 100%;
    background-color: black;
    z-index: 900;
}

.logo {
    margin: 10px;
    height: 50px;
    opacity: 0.5;
}

.banner img {
    width: 1200px;
    height: 700px;
    position: relative;
    opacity: 0.5;
    
}

.banner {
    display: inline-flex;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    justify-content: center;
}

.bannertext {
    position: absolute;
    width: 100%;
    background-color: black;
}

.spacer {
    margin-top: 100px !important; 
}

.teatext img {
    height: 200px;
    width: 300px;
    margin-bottom: 10px;
    opacity: 0.5;
}

.teatext {
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
}

.teatypes {
    display: inline-flex;
    justify-content: center;
    margin: 10px;
}

.teasection {
    width: 1000px;
    margin: 0 auto;
}

.teacontainer {
    flex-wrap: wrap;
    justify-content: center;
    display: inline-flex;
}


.locations {
    height: 500px;
    width: 1200px;
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg");  
    background-position: center;
    margin: 0 auto;
    display: flex;  
}


.locations h2 {
    background-color: transparent;
}

.addressblock {
    background-color: black;
    display: inline-flex;
    width: 300px;
    margin: 20px;
    justify-content: center;
}

.details {
    line-height: 60px;
    margin: 0 auto;
}

.container {
    justify-content: center;
    display: inline-flex;
    width: 100%;

}

.tester {
  width: 100%;
  align-self: center;
}

.copyright {
    text-align: left;
}

.button {
    background-color:  #ACC484;
    color: #101010;
    text-align: center;
    text-decoration: none;
    border: 1px solid transparent;
    padding: 10px;
    border-radius: .25rem;
    font-family: Helvetica, sans-serif;
    font-weight: normal;
}

.banner-new {
    background-color: #F7F9F3;
    padding-top: 40px;
    padding-bottom: 40px;
}